<div class="mt-4">
    <form method="GET" action="/news"> {{! Attribute method is GET, action: submit to another page}}
        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter keywords..."> 
                               {{!---get value of name (q) send to url with query parameter form ---}}
        </div>

        <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>