<div class="mt-4">
    <h3>Upload course</h3>

    <form method="POST" action="/courses/store">
        <div class="mb-3">
            <label for="name">Name</label>
            <input class="form-control" id="name" name="name">
        </div>

        <div class="mb-3">
            <label for="description">Description</label>
            <input class="form-control" id="description" name="description">
        </div>

        <div class="mb-3">
            <label for="videoId">Video ID</label>
            <input class="form-control" id="videoId" name="videoId">
        </div>

        <div class="mb-3">
            <label for="level">Level</label>
            <input class="form-control" id="level" name="level">
        </div>

        <button type="submit" class="btn btn-primary">Upload</button>
    </form>
</div>